
<div class="container">
  <% @theories.each do |theory| %>
    <div class="row well well-sm">

      <div class="col-md-10">

        <ul>
          <li>
            <h4><%= t('theories.attributes.title') %></h4>
            <%= theory.title %>
          </li>
          <li>
            <h4><%= t('theories.attributes.description') %></h4>
            <%= theory.description %>
          </li>

        </div>

        <div class="col-md-2">
          <li>
            <%= link_to t('theories.buttons.show_theory'), backend_theory_path(theory), class: "btn btn-success" %>
          </li>
          <div class="small-spacer"></div>
          <li>
            <%= link_to t('theories.buttons.edit_theory'), edit_backend_theory_path(theory), method: :get, class: "btn btn-info" %>
          </li>
          <div class="small-spacer"></div>
          <li>
            <%= link_to t('theories.buttons.destroy_theory'), backend_theory_path(theory), method: :delete, class: "btn btn-danger" %>
          </li>
        </ul>

        </div>

    </div>
  <% end %>
</div>
