
<div class="col-md-12">
  <div class="well well-sm">

    <%= form_for @media, :url => backend_media_path(@media), :html => {:multipart => true}, method: :patch do |f| %>
      <fieldset>
        <legend class="text-center"><%= t('medias.titles.edit_media') %></legend>

        <div class="form-group">
          <%= label_tag t('medias.attributes.title'), nil, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= f.text_field :title, class: "form-control" %>
            <div class="small-spacer"></div>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag t('courses.attributes.picture'), nil, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= image_tag(@media.picture_url, size: "120x120") if @media.picture? %>
            <div style="clear:both;"></div>
            <hr />
            <%= f.file_field :picture, class: "form-control" %>
            <p>
              <label>
                <%= f.check_box :remove_picture %>
                Remove Picture
              </label>
            </p>
            <div class="small-spacer"></div>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag t('medias.attributes.description'), nil, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= f.text_area :description, class: "form-control", rows: 5 %>
            <div class="small-spacer"></div>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag t('medias.attributes.media_type'), nil, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= f.radio_button :media_type, "audio" %>
            <%= label_tag "audio" %>
            <%= f.radio_button :media_type, "video" %>
            <%= label_tag "video" %>
            <div class="small-spacer"></div>
          </div>
        </div>

        <div class="form-group audio">
          <%= label_tag t('medias.attributes.audio'), nil, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= audio_tag @media.audio, autoplay: false, controls: true if @media.audio.url %>
            <%= f.file_field :audio, class: "form-control" %>
            <p>
              <label>
                <%= f.check_box :remove_audio %>
                Remove Audio
              </label>
            </p>
            <div class="small-spacer"></div>
          </div>
        </div>

        <div class="form-group video">
          <%= label_tag t('medias.attributes.video'), nil, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= video_tag @media.video, autoplay: false, controls: true if @media.video.url %>
            <%= f.file_field :video, class: "form-control" %>
            <p>
              <label>
                <%= f.check_box :remove_video %>
                Remove Video
              </label>
            </p>
            <div class="small-spacer"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 text-right">
            <%= f.submit t('medias.buttons.submit_edit'), class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      </fieldset>
    <% end %>

  </div>
</div>




<style type="text/css" media="all">
  input[checked="checked"]{
    display: show !important;
  }
</style>



