
<% if @practice %>
  <%= link_to t('medias.buttons.create_media'), new_backend_practice_media_path(@practice), class: "btn btn-warning" %>
<% elsif @theory %>
  <%= link_to t('medias.buttons.create_media'), new_backend_theory_media_path(@theory), class: "btn btn-warning" %>
<% end %>

<div class="small-spacer"> </div>

<%#= binding.pry %>
<% @medias = locals[:medias] unless local_assigns[:locals].nil? %>

<div class="container">
  <% @medias.each do |media| %>
    <div class="row well well-sm">

      <div class="col-md-2">
        <%= image_tag media.picture, :size => "120x120" %>
      </div>

      <div class="col-md-8">
        <ul>
          <li>
            <h4><%= t('medias.attributes.title') %></h4>
            <%= media.title %>
          </li>
          <li>
            <h4><%= t('medias.attributes.description') %></h4>
            <%= media.description %>
          </li>
          <% if media.media_type == "audio" %>
            <li>
              <h4><%= t('medias.attributes.audio') %></h4>
              <%= media.audio %>
            </li>
          <% else %>
            <li>
              <h4><%= t('medias.attributes.video') %></h4>
              <%= media.video %>
            </li>
          <% end %>
          </ul>
        </div>

        <div class="col-md-2">
          <ul>
            <li>
              <%= link_to t('medias.buttons.show_media'), backend_media_path(media), class: "btn btn-success" %>
            </li>
            <div class="small-spacer"></div>
            <li>
              <%= link_to t('medias.buttons.edit_media'), edit_backend_media_path(media), method: :get, class: "btn btn-info" %>
            </li>
            <div class="small-spacer"></div>
            <li>
              <%= link_to t('medias.buttons.destroy_media'), backend_media_path(media), method: :delete, class: "btn btn-danger" %>
            </li>
          </ul>
        </div>

    </div>
  <% end %>
</div>
