
<div class="container">
  <div class="row">
    <ul class="well">
      <li><%= t('medias.attributes.id') %> : <%= @media.id %></li>
      <li><%= t('medias.attributes.title') %> : <%= @media.title %></li>
      <li><%= t('medias.attributes.description') %> : <%= @media.description %></li>
      <li><%= t('courses.attributes.course_title') %> : <%= @media.mediumable.chapter.course.title %></li>
      <li><%= t('chapters.attributes.chapter_title') %> : <%= @media.mediumable.chapter.title %></li>
      <li><%= t('practices.attributes.practice_title') %> : <%= @media.mediumable.title %></li>
      <li><%= t('medias.attributes.media_type') %> : <%= @media.media_type %></li>
      <% if @media.is_audio %>
      <hr />
      <li><%= t('medias.attributes.audio') %> : <%= audio_tag @media.audio.url, autoplay: false, controls: true %></li>
      <% end %>
      <% if @media.is_video %>
      <hr />
      <li><%= t('medias.attributes.video') %> : <%= video_tag @media.video.url, autoplay: false, controls: true %></li>
      <% end %>
      <hr />
    </ul>
  </div>
</div>

<%= link_to t('medias.buttons.back_to_medias_list'), @media.mediumable_type == "Theory" ? backend_theory_medias_path(@media.mediumable) : backend_practice_medias_path(@media.mediumable), class: "btn btn-success" %>
<%= link_to t('medias.buttons.edit_media'), edit_backend_media_path(@media), class: "btn btn-info" %>

<div class="small-spacer"></div>

