<h1>Backend::Medias#show</h1>
<p>Find me in app/views/backend/medias/show.html.erb</p>

<div class="container">
  <div class="row">
    <ul class="well">
      <li><%= t('medias.attributes.id') %> : <%= @media.id %></li>
      <li><%= t('medias.attributes.title') %> : <%= @media.title %></li>
      <li><%= t('medias.attributes.description') %> : <%= @media.description %></li>
      <li><%= t('medias.attributes.audio') %> : <%= audio_tag @media.audio.url %></li>
    </ul>
  </div>
</div>

<%= link_to t('medias.buttons.back_to_medias_list'), backend_practice_medias_path(@practice), class: "btn btn-success" %>
<%= link_to t('medias.buttons.edit_media'), edit_backend_media_path(@media), class: "btn btn-info" %>

