<h1>Backend::Courses#show</h1>
<p>Find me in app/views/backend/courses/show.html.erb</p>


<div class="container">
  <div class="row">
    <ul class="well">
      <li><%= t('courses.attributes.id') %> : <%= @course.id %></li>
      <li><%= t('courses.attributes.title') %> : <%= @course.title %></li>
      <li><%= t('courses.attributes.description') %> : <%= @course.description %></li>
    </ul>
  </div>
</div>

<%= link_to t('courses.buttons.back_to_courses_list'), backend_courses_path, class: "btn btn-success" %>
<%= link_to t('courses.buttons.edit_course'), edit_backend_course_path(@course), class: "btn btn-info" %>
<%= link_to t('chapters.buttons.list'), backend_course_chapters_path(@course), class: "btn btn-danger" %>

<div class="small-spacer"></div>

