
<section class="container">
  <div class="row">
    <section class="register_message">
    <h3><%= t('landing.intro.register_message') %></h3>
    </section>
    <section class="well home">
    <h3 class="inscription"><%= t('landing.intro.launch') %></h3>
      <%= form_tag create_subscription_path, remote: true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <%= email_field_tag :email, nil, class: "form-control", :required => true, placeholder: t('landing.intro.placeholder') %>
        </div>
        <div class="form-group">
          <%= submit_tag t('landing.buttons.submit'), class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </section>
  </div>
</section>


