
<div class="container">
  <% @chapters.each do |chapter| %>
    <div class="row well well-sm">

      <div class="col-md-10">

        <ul>
          <li>
            <h4><%= t('chapters.attributes.title') %></h4>
            <%= chapter.title %>
          </li>
          <li>
            <h4><%= t('chapters.attributes.description') %></h4>
            <%= chapter.description %>
          </li>

        </div>

        <div class="col-md-2">
          <li>
            <%= link_to t('chapters.buttons.show_chapter'), backend_course_chapter_path(chapter.course, chapter), class: "btn btn-info" %>
          </li>
          <div class="small-spacer"></div>
          <li>
            <%= link_to t('chapters.buttons.destroy_chapter'), backend_course_chapter_path(chapter.course, chapter), method: :delete, class: "btn btn-danger" %>
          </li>
          <div class="small-spacer"></div>
          <li>
            <%= link_to t('chapters.buttons.edit_chapter'), edit_backend_course_chapter_path(chapter.course, chapter), method: :get, class: "btn btn-warning" %>
          </li>
        </ul>

        </div>

    </div>
  <% end %>
</div>
