

<%#= binding.pry %>
<div class="container">
  <div class="row">
    <h1>Chapter : <%= @chapter.title %></h1>
    <ul class="well">
      <li><%= t('chapters.attributes.id') %> : <%= @chapter.id %></li>
      <li><%= t('chapters.attributes.title') %> : <%= @chapter.title %></li>
      <li><%= t('chapters.attributes.description') %> : <%= @chapter.description %></li>
      <li><%= "Course Title" %> : <%= @chapter.course.title %></li>
    </ul>
  </div>
</div>

<%= link_to t('chapters.buttons.back_to_chapters_list'), backend_course_chapters_path(@chapter.course), class: "btn btn-success" %>
<%= link_to t('chapters.buttons.edit_chapter'), edit_backend_chapter_path(@chapter), class: "btn btn-info" %>
<%= link_to t('practices.buttons.list'), backend_chapter_practices_path(@chapter), class: "btn btn-danger" %>

<div class="small-spacer"></div>


