
<div class="container">
  <% @practices.each do |practice| %>
    <div class="row well well-sm">

      <div class="col-md-10">

        <ul>
          <li>
            <h4><%= t('practices.attributes.title') %></h4>
            <%= practice.title %>
          </li>
          <li>
            <h4><%= t('practices.attributes.description') %></h4>
            <%= practice.description %>
          </li>

        </div>

        <div class="col-md-2">
          <li>
            <%= link_to t('practices.buttons.show_practice'), backend_practice_path(practice), class: "btn btn-success" %>
          </li>
          <div class="small-spacer"></div>
          <li>
            <%= link_to t('practices.buttons.edit_practice'), edit_backend_practice_path(practice), method: :get, class: "btn btn-info" %>
          </li>
          <div class="small-spacer"></div>
          <li>
            <%= link_to t('practices.buttons.destroy_practice'), backend_practice_path(practice), method: :delete, class: "btn btn-danger" %>
          </li>
        </ul>

        </div>

    </div>
  <% end %>
</div>
