
<div class="container">
  <div class="row">
    <ul class="well">
      <li><%= t('practices.attributes.id') %> : <%= @practice.id %></li>
      <li><%= t('practices.attributes.title') %> : <%= @practice.title %></li>
      <li><%= t('practices.attributes.description') %> : <%= @practice.description %></li>
      <li><%= t('courses.attributes.course_title') %> : <%= @practice.chapter.course.title %></li>
      <li><%= t('chapters.attributes.chapter_title') %> : <%= @practice.chapter.title %></li>
    </ul>
  </div>
</div>

<%= link_to t('practices.buttons.back_to_practices_list'), backend_chapter_practices_path(@practice.chapter), class: "btn btn-success" %>
<%= link_to t('practices.buttons.edit_practice'), edit_backend_practice_path(@practice), class: "btn btn-info" %>
<%= link_to t('medias.buttons.list'), backend_practice_medias_path(@practice), class: "btn btn-danger" %>


<div class="small-spacer"></div>

