
<nav class="navbar navbar-default navbar-static-top navbar-inverse nav-custom">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Yogic Sadhana", root_path, class: "navbar-brand" %>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"> </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
        <span class="country_flags">
          <%= link_to image_tag('icons/France.png'), "#", class: "lang fr"  %>
          <%= link_to image_tag('icons/England.png'), "#", class: "lang en"  %>
        </span>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to t('nav_bar.account_settings'), edit_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t('nav_bar.logout'), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log in<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to  t('nav_bar.login'), new_user_session_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t('nav_bar.register'), new_user_registration_path %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".lang").bind('click', function(e){
      var is_french = $(this).hasClass("fr");
      if (is_french) {
        var url = window.location.href;
        var updated_url = url.replace(url.split("/")[3], "fr");
        window.location.replace(updated_url);
      }
      if (!is_french) {
        var url = window.location.href;
        var updated_url = url.replace(url.split("/")[3], "en");
        window.location.replace(updated_url);
      }
    });
  });
</script>
