<!DOCTYPE html>
<html>
<head>
  <title>YogicSadhana</title>
  <%= stylesheet_link_tag 'frontend', media: 'all' %>
  <%= javascript_include_tag 'frontend' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/frontend/nav_bar' %>

  <section class="container-fluid main_content">
    <div class="small-spacer"></div>
    <%= flash_messages %>
    <%= yield %>
  </section>

</body>
</html>
